@model EnemyViewModel
@{
    ViewData["Title"] = "Edit Enemy";
}

<h1 class="display-4">@ViewData["Title"]</h1>
<div class="border border-dark p-2">
    <form asp-action="Edit" method="post" asp-antiforgery="true">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="form-row">
            <div class="form-group col-md-6 invisible">
                <label for="inputId">Id</label>
                <input type="number" asp-for="Id" class="form-control"
                       placeholder="@nameof(Model.Id)">
                <span asp-validation-for="Id" class="text-danger"></span>
            </div>
            <div class="form-group col-md-6">
                <label for="inputName">Name</label>
                <input type="text" asp-for="Name" class="form-control"
                       placeholder="@nameof(Model.Name)">
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <input type="submit" class="btn btn-primary btn-lg btn-block" value="Update">
        </div>
    </form>
</div>
