
@{
    ViewData["Title"] = "Work with Enemies";
}

<div class="text-center">
    <h1 class="display-4">@ViewData["Title"]</h1>

    <div class="p-3">
        <a class="btn btn-primary btn-lg btn-block"
           asp-controller="Enemy"
           asp-action="Add">
            Add new Enemy
        </a>
    </div>

    @await Component.InvokeAsync("EnemiesBlock")

</div>

