@{
    ViewData["Title"] = "Home Reputation Calculator";
}

<div class="text-center">
    <h1 class="display-4">@ViewData["Title"]</h1>

    @await Component.InvokeAsync("ReputationBlock")

    <div class="border border-dark p-2">
        <form>
            <h3>Add Reputation</h3>
            <div class="form-row">
                <div class="form-group col-md-6">
                    <label for="inputPeasants">Peasants</label>
                    <input type="number" class="form-control"
                           id="inputPeasants" placeholder="Number">
                </div>
                <div class="form-group col-md-6">
                    <label for="inputChurch">Church</label>
                    <input type="number" class="form-control"
                           id="inputChurch" placeholder="Number">
                </div>
                <div class="form-group col-md-6">
                    <label for="inputBandits">Bandits</label>
                    <input type="number" class="form-control"
                           id="inputBandits" placeholder="Number">
                </div>
                <div class="form-group col-md-6">
                    <label for="inputNobles">Nobles</label>
                    <input type="number" class="form-control"
                           id="inputNobles" placeholder="Number">
                </div>
            </div>

            <button type="submit" class="btn btn-primary btn-lg btn-block">Add</button>
        </form>
    </div>
</div>
