@model ItemsViewModel

<div class="container">
    <table class="table table-hover">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Name</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Items)
            {
                <tr>
                    <th scope="row">@item.Id</th>
                    <td>@item.Name</td>
                    <td>
                        <a asp-area=""
                           asp-controller="Items"
                           asp-action="Edit"
                           asp-route-id="@item.Id">
                            <i class="fas fa-pen-square"></i>
                        </a>
                        <a asp-area=""
                           asp-controller="Items"
                           asp-action="Delete"
                           asp-route-id="@item.Id">
                            <i class="fas fa-trash-alt"></i>
                        </a>
                    </td>
                </tr>
            }
            
        </tbody>
    </table>



</div>
