
@{
    ViewData["Title"] = "Work with Items";
}

<div class="text-center">
    <h1 class="display-4">@ViewData["Title"]</h1>

    <div class="p-3">
        <a class="btn btn-primary btn-lg btn-block"
           asp-controller="Items"
           asp-action="Add">
            Add new Item
        </a>
    </div>

    @await Component.InvokeAsync("ItemsBlock")

</div>

